
.logo {
    position: fixed;
    top: 50%;
    left: 48%;
    margin-top: -100px;
    margin-left: -100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 4;
  right: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(83, 78, 78, 0.781);
  color: white;
  
}
li {
    display: inline;
    padding: 4px;
    color: white;
    float: right;
    margin-right: 20px;
    font-family: 'Playfair Display', serif;
   
}
p {
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: 30px;
    margin-left: -80px; 
    position:absolute;
}
li:hover {
    color: blue;
}
#heb:hover {
    color: blue;
}
